accelerate
clang-format==16.0.2
deepspeed-kernels ; sys_platform == 'linux'
docutils<0.18
future
importlib-metadata>=4
mup
pre-commit>=2.20.0
pytest>=7.2.0
pytest-forked
pytest-randomly
pytest-xdist
qtorch==0.3.0
recommonmark
sphinx
sphinx-rtd-theme
tensorboard
torchvision
transformers>=4.39.0
wandb
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
